

.article-img {
  height: 300px;
  width: 300px;
  margin-right: 16px;
}

.img{
  height: 300px;
  width: 300px;
  margin-right: 16px;
}

.paginator {
    margin: 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*p{
  text-align: justify;
}*/


.content {
    margin-top: 3%;
    max-width: 66%;
    justify-content: left;
    margin-left: 16%;
    margin-bottom: 5%;
    padding-right: 2em;
    font-size: 18px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
#content-wrap {
  /*padding-bottom: 80px;*/
}
#page-container {
  position: relative;
  min-height: 100vh;
}

/*#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 40px;
}*/

body{
  position: relative;
  justify-content: center;
  align-items: center;
  width:100%;
  min-height: 100%;  
  /*font: normal 32px Arial, Helvetica,sans-serif;*/
  /*line-height: 1.6em;*/
 
  height: auto;
}

/*.media{
       -webkit-box-shadow: 0 3px 1px -1px #777;
       -moz-box-shadow: 0 3px 1px -1px #777;
            box-shadow: 0 3px 1px -1px #777;
   margin-bottom: 20px;
}*/




@media screen and (max-width: 960px) {
 .language-python {
    /*display: inline-flex;*/
    overflow-x: auto;
    white-space: pre;
    overflow-y: hidden;

    /*flex-shrink: 0;*/
  }

  
}


@media screen and (max-width: 400px) {
  .language-python {
    /*display: inline-flex;*/
    overflow-x: auto;
    white-space: pre;
    overflow-y: hidden;
    /*flex-shrink: 0;*/

    
    
  }
}
#jumbablog{
background-image: url(https://www.mo.agency/hubfs/So%20you%20want%20to%20be%20a%20web%20developer.png);
 margin-bottom: 0;
 background-position: center;

}



#jumbapy{
 background-image: url(https://seeklogo.com/images/P/python-logo-A32636CAA3-seeklogo.com.png);
 background-attachment: unset;
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 padding-top: 20px;
 background-color: black;
 min-height: 50px;
}

#jumbar{
  background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
 margin-bottom: 10;
 
}
.sidebar {
    margin: 0;
    padding: 10px;
    width: 12%;
    background-color: #333;
    position: fixed;
    height: auto;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 85%;
    padding-bottom: 100px;
    transition: all .2s ease-in-out;
}

.sidebar a {
  display: block;
  color: #9d9d9d;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/*div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  width: 85%;
}*/








/* New Css */
:root{
  --theme-color: #00bcd4;
}
body,
h1,h2,h3,h4,h5,h6,p{
  font-family: 'Open Sans', sans-serif;
}
a:hover,
a:focus{
  text-decoration: none !important;
  color: inherit;
}
.site-header {
    /*background: #01101d;*/
}
.site-header .navbar {
    background: transparent;
    border-radius: 0;
    border: none;
    padding: 10px 0px;
    margin: 0px 0px;
    display: flex;
    align-items: center;
}
.site-header .collapse.navbar-collapse {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.site-header .navbar-right {
    float: none !important;
    margin-left: auto !important;
    display: flex;
    align-items: center;
}
.site-header .form-group {
    background: #fff;
    border: 1px solid #fff;
    margin-right: 10px;
}
.site-header .form-group input {
    box-shadow: none;
    outline: none;
    border: 1px solid #ababab;
    padding: 0px 10px;
    font-size: 15px;
    color: #404040;
    height: 40px;
    border-radius: 40px;
}
.site-header .form-group button {
    box-shadow: none;
    outline: none;
    border: none;
    background: var(--theme-color);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    width: 40px;
    line-height: 40px;
    padding: 0;
    border-radius: 100%;
}
.site-header .navbar-nav>li>a {
    color: #404040;
    font-size: 15px;
    padding: 10px 15px;
    text-shadow: none;
    line-height: inherit;
}
.site-header .nav>li>a:focus,
.site-header .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: var(--theme-color);
}
.site-header .navbar-brand {
    font-size: 28px;
    font-weight: 600;
    color: var(--theme-color);
}
#jumbablog {
    text-align: center;
    padding: 80px 0px 80px;
    position: relative;
    z-index: 1;
}
#jumbablog::before {
    content: "";
    position: absolute;
     z-index: -1; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 80%);
}
#jumbablog h1 {
    color: var(--theme-color);
    font-size: 60px;
    font-weight: 600;
    padding: 0;
    margin: 0 0 12px;
    font-family: 'Oswald', sans-serif;
}
#jumbablog p{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
#jumbablog ul li{
  display: inline-block;
  margin: 0px 10px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  padding: 0;
  list-style: none;
}
.my_heading {
    margin: 0px 0px 30px;
}
.my_heading h3 {
    color: var(--theme-color);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0;
    margin: 0px 0px 7px;
}
.my_heading h2 {
    font-family: 'Oswald', sans-serif;
    color: #404040;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    margin: 0px 0px 13px;
}
.my_heading p {
    color: #757575;
    font-size: 16px;
    line-height: 22px;
    padding: 0px 0px 15px;
}
.my_heading_center{
  text-align: center;
}
.my_heading_center p{
  margin: 0 auto;
  max-width: 60%;
}
.blog_boxes{
  padding: 5% 0% 5%;
}
.blog_boxes .blog_bx {
    background: #fff;
    border: 1px solid #dcdcdc;
    padding: 10px 10px 15px;
    border-radius: 2px;
    margin: 0px 0px 30px;
}
.blog_boxes .blog_bx img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.blog_bx_txt{
  padding: 0px 7px 5px;
}
.blog_boxes .blog_bx h1 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #404040;
    padding: 0;
    margin: 10px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.blog_boxes .blog_bx h1 a {
    color: #404040;
}
.blog_boxes .blog_bx h3 {
    font-size: 15px;
    color: var(--theme-color);
    padding: 0;
    margin: 0 0 8px;
}
.blog_boxes .blog_bx p {
    font-size: 15px;
    line-height: 20px;
    color: #757575;
    padding: 0;
    margin: 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.blog_boxes .blog_bx a.rm_link {
    color: #fff;
    background: var(--theme-color);
    padding: 8px 15px;
    display: inline-block;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.blog_boxes .blog_bx a.rm_link:hover {
    color: #fff;
    background: var(--theme-color);
    text-decoration: none;
}
.footer {
    float: left;
    width: 100%;
    background: linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 100%);
    position: relative;
    overflow: hidden;
    padding: 70px 0px 0px;
    z-index: 10;
}

.footer:before,
.footer:after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 500px;
}

.footer:before {
  left: 50%;
  margin-left: -125px;
  height: 800px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .05) 40%, rgba(255, 255, 255, .05) 100%);
  transform: rotate(-60deg);
  transform-origin: bottom right;
}

.footer:after {
  right: 50%;
  margin-right: -125px;
  height: 3600px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .05) 10%, rgba(255, 255, 255, .05) 100%);
  transform: rotate(60deg);
  transform-origin: bottom right;
}

.follow_area {
  float: left;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 3;
}

.follow_area ul {
  background: #fff;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 40px 40px 40px 40px;
}

.follow_area ul li {
  display: inline-block;
  vertical-align: middle;
}

.follow_area ul li span {
    color: #404040;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0px 25px;
    font-weight: 500;
}

.follow_area ul li a {
  display: block;
  padding: 20px 20px;
  border-left: 1px solid #e1e0e8;
  font-size: 20px;
  color: #585858;
  transition: all .2s ease-in-out;
}

.follow_area ul li a:hover {
  color: var(--theme-color);
  transition: all .2s ease-in-out;
}

.footer_top {
  float: left;
  width: 100%;
  position: relative;
  z-index: 3;
  padding: 60px 0px 50px;
}

.footer_box {
  float: left;
  width: 100%;
}

.footer_box1 {
  padding-right: 10%;
}

.footer_box1 img {
  width: 300px;
  margin: 0px 0px 15px;
}

.footer_box1 h1 {
    font-size: 34px;
    font-weight: 600;
    color: var(--theme-color);
    margin: 0px 0px 10px;
}
.footer_box1 h1 a{
  color: var(--theme-color);
}
.footer_box1 p {
  color: #bdbdbd;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.footer_box h2 {
  color: #fff;
  font-size: 24px;
  padding: 0px 0px 14px;
  margin: 0px 0px 25px;
  position: relative;
}

.footer_box h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background: var(--theme-color);
}

.footer ul,
.footer_box ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer_box2 ul li,
.footer_box3 ul li {
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 400;
  margin: 0px 0px 10px;
}

.footer_box ul li a{
  color: #bdbdbd;
}

.footer_box .input-group {
    display: flex;
    align-items: center;
}

.footer_box input.form-control {
    box-shadow: none;
    outline: none;
    border: 1px solid #bdbdbd;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    height: 46px;
    background: transparent;
    color: #fff;
}

.footer_box .input-group button {
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0px 15px;
    height: 46px;
    border-radius: 0px 40px 40px 0px !important;
    font-weight: 500;
    background: var(--theme-color);
    color: #fff;
}

.footer_box h5 {
  color: #969696;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  margin: 13px 0px 0px;
}

.footer_btm {
  float: left;
  width: 100%;
  position: relative;
  z-index: 3;
  border-top: 1px solid #949494;
  padding: 20px 0px;
}


.footer_btm_left {
  float: left;
  width: 100%;
  text-align: left;
}

.footer_btm_left p {
  color: #bdbdbd;
  font-size: 15px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.footer_btm_right {
  float: left;
  width: 100%;
  text-align: right;
}

.footer_btm_right ul li {
    display: inline-block;
    vertical-align: middle;
    color: #bdbdbd;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    margin: 0px 15px 0px 20px;
}

.footer_btm_right ul li a{
  color: var(--theme-color);
}















/* New Responsive Css */

@media only screen and (min-width: 992px) and (max-width: 1199px){
.site-header .navbar {
    padding: 5px 0px;
}
#jumbablog h1 {
    font-size: 46px;
    margin: 0 0 10px;
}
#jumbablog p {
    font-size: 16px;
}
#jumbablog p {
    font-size: 16px;
}
.my_heading h2 {
    font-size: 42px;
    margin: 0px 0px 10px;
}
.my_heading_center p {
    max-width: 70%;
}
.blog_boxes .blog_bx img {
    height: 250px;
}
.blog_boxes .blog_bx h1 {
    font-size: 18px;
    line-height: 22px;
}
.footer {
    padding: 60px 0px 0px;
}
.footer_top {
    padding: 50px 0px 40px;
}
.footer_box1 p {
    font-size: 15px;
    line-height: 21px;
}
}


@media only screen and (min-width: 768px) and (max-width: 991px){
.site-header .navbar {
    padding: 5px 0px;
}
.site-header .navbar-brand {
    font-size: 24px;
    padding-left: 0;
    padding-right: 0;
}
.site-header .collapse.navbar-collapse {
    padding: 0;
}
.site-header .navbar-nav>li>a {
    font-size: 14px;
    padding: 7px 10px;
}
.site-header .form-group {
    margin-right: 3px;
}
.site-header .form-group input {
    width: 180px;
}
#jumbablog h1 {
    font-size: 46px;
    margin: 0 0 10px;
}
#jumbablog p {
    font-size: 16px;
}
#jumbablog p {
    font-size: 16px;
}
.my_heading h2 {
    font-size: 42px;
    margin: 0px 0px 10px;
}
.my_heading_center p {
    max-width: 80%;
}
.blog_boxes .blog_bx {
    margin: 0px 0px 20px;
}
.blog_boxes .blog_bx img {
    height: 280px;
}
.blog_boxes .blog_bx h1 {
    font-size: 18px;
    line-height: 22px;
}
.footer {
    padding: 60px 0px 0px;
}
.footer_top {
    padding: 50px 0px 40px;
}
.footer_box1 p {
    font-size: 15px;
    line-height: 21px;
}
}




@media only screen and (min-width: 300px) and (max-width: 767px){
.site-header .navbar {
    padding: 0;
    display: block;
}
.site-header .navbar-brand {
    font-size: 28px;
    padding-left: 0;
    padding-right: 0;
}
.site-header .collapse.navbar-collapse {
    padding: 0;
    display: none !important;
}
.site-header .collapse.navbar-collapse.show {
    display: block !important;
}
.navbar-toggle {
    background: transparent;
    border-radius: 0 !important;
    padding: 0px 0px !important;
    margin: 10px 0px 0px !important;
    width: 40px !important;
    height: 30px !important;
}
.navbar-toggle .icon-bar {
    width: 36px !important;
    height: 2px !important;
    border-radius: 0px !important;
    background: var(--theme-color);
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 7px !important;
}
.navbar-nav {
    margin: 0 !important;
}
.site-header .navbar-right {
    display: block !important;
}
.navbar-form {
    margin: 0px !important;
    padding: 0px 0px 10px !important;
}
.navbar-form .form-group {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-header .form-group input {
    width: 84% !important;
}
.site-header .navbar-nav>li>a {
    font-size: 14px;
    padding: 7px 10px;
}
.site-header .form-group {
    margin-right: 3px;
}
.site-header .form-group input {
    width: 180px;
}
#jumbablog {
    padding: 50px 0px 50px;
}
#jumbablog h1 {
    font-size: 38px;
    margin: 0 0 10px;
}
#jumbablog p {
    font-size: 16px;
}
#jumbablog p {
    font-size: 16px;
}
.my_heading h2 {
    font-size: 38px;
    margin: 0px 0px 10px;
}
.my_heading_center p {
    max-width: 100%;
}
.blog_boxes .blog_bx {
    margin: 0px 0px 20px;
}
.blog_boxes .blog_bx img {
    height: auto;
}
.blog_boxes .blog_bx h1 {
    font-size: 18px;
    line-height: 22px;
}
/*.footer {
    padding: 60px 0px 0px;
}
.footer_top {
    padding: 50px 0px 40px;
}
.footer_box1 p {
    font-size: 15px;
    line-height: 21px;
}*/
.follow_area ul li span {
    font-size: 14px;
    padding: 0px 10px;
  }
  .follow_area ul li a {
    padding: 9px 10px;
    font-size: 16px;
  }
  .footer_box {
    text-align: center;
    margin: 0px 0px 30px;
  }
  .footer_box1 {
    padding-right: 0;
  }
  .footer_box1 img {
    width: 280px;
    margin: 0px 0px 10px;
  }
  .footer_box1 h1 {
    font-size: 34px;
    margin: 0px 0px 7px;
  }
  .footer_box1 p {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
  }
  .footer_box h2 {
    font-size: 24px;
    padding: 0px 0px 10px;
    margin: 0px 0px 15px;
  }
  .footer_box h2::after {
    width: 50px;
    height: 2px;
    right: 0;
    margin: 0 auto;
  }
  .footer_box2 ul li,
  .footer_box3 ul li {
    margin: 0px 0px 4px;
    font-size: 16px;
  }
  .footer_box input.form-control {
    padding: 6px 14px;
    height: 46px;
  }
  .footer_box h5 {
    font-size: 13px;
    line-height: 17px;
    margin: 11px 0px 0px;
  }
  .footer_btm {
    padding: 20px 0px;
  }
  .footer_btm_left,
  .footer_btm_right {
    text-align: center;
  }
  .footer_btm_left p {
    font-size: 15px;
    line-height: 19px;
    margin: 0px 0px 10px;
  }
  .footer_btm_right ul li {
    font-size: 15px;
    margin: 0px 7px 0px 7px;
  }
  .footer {
    padding: 40px 0px 0px;
  }
  .footer_top {
    padding: 25px 0px 0px;
  }
  #jumbablog ul li {
    margin: 0px 6px;
    font-size: 16px;
}
.blog_details img {
    width: 100%;
    height: auto;
}
}

.lng_jumbotron {
    padding: 30px 0px 30px !important;
}
.lng_logo img {
    width: 150px;
    height: 150px;
    object-fit: scale-down;
}
.lng_bx{

}
.lng_bx .card-img img{

}
.cmn_btn{
    box-shadow: none;
    outline: none;
    border: 1px solid;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
}
.btn_theme{
    border-color: var(--theme-color);
    color: #fff;
    background: var(--theme-color);
}
.sidebar, .content {
    z-index: 2;
}
.sidebar_overlay {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: transparent;
     display: none; 
}
.sidebar_on .sidebar_overlay {
  display: block;
}
#sidebar_toggle {
    font-size: 16px;
    padding: 0;
    border-radius: 100%;
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 33%);
}

@media only screen and (min-width: 300px) and (max-width: 767px){
  .sidebar {
    width: 300px;
    padding: 5px 5px;
    top: 50px;
    height: calc(100vh - 50px);
    left: -100%;
  }
  .content {
    width: 100%;
    margin: 0px 0px;
    padding: 0px 15px;
    max-width: 100%;
}
  .content img{
    max-width: 100%;
}
  .sidebar_on .sidebar {
    left: 0;
    z-index: 4;
  }
  #sidebar_toggle {
    display: block;
}

.lng_logo img {
    width: 100px;
    height: 100px;
}
}